*{
    margin:0;
    padding: 0;
}
.p1{
    color: blue;
    font-size: 16px;
}
.p2{
    color: red;
    font-size: 18px;
}
button{
    width: 100px;
    height: 30px;
}
.hparent{
    background: pink;
}
.pchild{
    background: #ccc;
}